{% load gravatar %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Document</title>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Do+Hyeon|Gaegu|Nanum+Myeongjo|Yeon+Sung');
    </style>
</head>

<body>
    <div class="container mt-3">
        {% if user.is_authenticated %}
        <div class="container d-flex align-self-center" style="font-family: 'Yeon Sung', cursive;">
            <h1 style="display: inline">
                <img class="rounded-circle" src="https://s.gravatar.com/avatar/{{ user.email | makemd5 }}?s=80" alt="profile img"></img>
                안녕하세요, {{ user.username }}님
            </h1>
            <!--<p>안녕, {{ user.username }}</p>-->
            <div class="btn-group mt-3 mx-3" style="display: inline">
              <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                설정
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="{% url 'accounts:profile' user.id %}">프로필 조회</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'accounts:logout' %}">로그아웃</a>
              </div>
            </div>
        </div>
        {% else %}
        
        <!--<h1>-->
        <!--    <a href="{# url 'accounts:login' #}">[로그인]</a>-->
        <!--    <a href="{# url 'accounts:signup' #}">[회원가입]</a>-->
        <!--</h1>-->
        <div class="btn-group" role="group" aria-label="Basic example">
            <h1>
            <a type="button" class="btn btn-warning" href="{% url 'accounts:login' %}">로그인</a>
            <a type="button" class="btn btn-warning" href="{% url 'accounts:signup' %}">회원가입</a>
            </h1>
        </div>
        {% endif %}
        
        <hr>
        
    {% block body %} {% endblock %}
    </div>
    
    <!--고양이-->
    <!--<div class="div" style="position:absolute; right:0; top:0;">-->
    <!--<marquee direction="up"  height="300" behavior="alternate">-->
    <!--    <marquee behavior="alternate" >-->
    <!--        <img src="https://media.giphy.com/media/Kebxw7tA8HgiileQFX/giphy.gif"></img>-->
    <!--    </marquee>-->
    <!--</marquee>-->
    <!--</div>-->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>

</html>
